
            <li>
                <a href="{{ include.url }}" {%- if include.openNewTab | default: true %} target="_blank" {%- endif %} class="button {{ include.buttonClass }}">
                    {%- if include.fontAwesomeIcon -%}
                    <i class="{{ include.fontAwesomeIcon }}"></i>
                    {%- elsif include.materialIcon -%}
                    <i class="material-icons">{{ include.materialIcon }}</i>
                    {%- endif %}
                    <span>{{ include.title }}</span></a>
            </li>
